.whole-content {
  background-color: rgba(0, 0, 0, 1);
  color: rgba(249, 249, 249, 1);
  font-weight: 700;
}

header {
  background-image: url("/images/Group 1.svg");
  background-repeat: no-repeat;
  background-position-y: 72px;
}

.content_wrapper {
  padding: 0 116px 0px 105px;
}

.header-container {
  display: flex;
  padding-top: 61px;
  gap: 72px;
}

.side-bar {
  width: 243px;
}

.side-bar nav {
  display: flex;
  flex-direction: column;
  gap: 59px;
  margin-top: 31px;
  margin-left: 38px;
  width: 100%;
  max-height: 600px;
  overflow-y: auto;
}

.side-bar nav::-webkit-scrollbar {
  width: 2px;
  max-height: 10% !important;
  cursor: pointer;
}

.side-bar nav::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.side-bar nav::-webkit-scrollbar-thumb {
  background-color: rgba(248, 179, 25, 1);
  outline: none;
  border-radius: 10px;
}
.side-bar nav ul {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.side-bar li {
  display: flex;
  align-items: center;
  gap: 15px;
  transition: all 0.4s ease;
  cursor: pointer;
  color: rgba(249, 249, 249, 1);
  transition: all 0.4s ease;
}

.side-bar li.active,
.side-bar li:hover {
  color: rgba(248, 179, 25, 1);
}

.side-bar li.active svg {
  stroke: rgba(248, 179, 25, 1);
  color: rgba(0, 0, 0, 1);
}
.side-bar li:hover svg {
  fill: rgba(248, 179, 25, 1);
  stroke: rgba(248, 179, 25, 1);
  color: rgba(0, 0, 0, 1);
}

nav svg {
  margin-right: 15px;
}

/* color: rgba(248, 179, 25, 1); */

.side-bar nav h4 {
  color: rgba(249, 249, 249, 0.67);
  font-size: 18px;
}

.logo {
  display: flex;
}

.logo h2 {
  font-family: "Luckiest Guy", cursive;
  width: 117px;
  font-weight: 400;
  font-size: 32px;
  color: rgba(248, 179, 25, 1);
}

/* .home_icon {
  color: rgba(249, 249, 249, 1);
  font-size: 24px;
} */

/* main-content */
.main-content {
  margin-top: 3px;
  display: flex;
  flex-direction: column;
  gap: 46px;
}

.main-content nav {
  display: flex;
  gap: 100px;
}

.main-content nav ul {
  display: flex;
  gap: 50px;
}

.main-content nav ul a {
  padding: 18px 19px;
  font-weight: 800;
  font-size: 24px;
  color: rgba(249, 249, 249, 1);
  transition: all ease 0.4s;
}

.main-content nav ul a:hover,
.main-content nav ul a.active {
  color: rgba(248, 179, 25, 1);
  border-bottom: 4px solid rgba(248, 179, 25, 1);
  text-decoration: none;
}

/* searchbox  */

.search-element {
  border: 1px solid red;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px 25px;
  gap: 15px;
  background-color: rgba(33, 36, 45, 1);
  border: 1px solid rgba(33, 36, 45, 1);
  border-radius: 12px;
}

.search-element input {
  background-color: transparent;
  border: none;
  color: rgba(249, 249, 249, 1);
}

.search-element input:focus {
  outline: none;
}
.form-control:focus {
  outline: none;
  background-color: rgba(33, 36, 45, 1);
}

.search-element button {
  background-color: transparent;
  border: none;
}
/* carousel-container */

.carousel-container {
  width: 770px;
  height: 350px;
  margin-left: 68px;
}

.carousel-indicators li {
  border-radius: 50%;
  width: 10px !important;
  height: 10px !important;
  background-color: rgba(249, 249, 249, 1) !important;
  cursor: pointer;
}

.carousel-indicators .active {
  background-color: rgba(248, 179, 25, 1) !important;
}

.carousel-inner {
  border-radius: 20px !important;
}

.carousel-item {
  width: 770px !important;
  height: 350px !important;
}

.carousel-item img {
  width: 100% !important;
  height: 100% !important;
  object-fit: cover;
}
.carousel-indicators {
  bottom: 36px;
  margin-left: calc(50% - 74px / 2) !important;
  list-style: none;
  width: 74px;
  padding: 8px 12px !important;
  background-color: rgba(249, 249, 249, 0.2);
  align-items: center !important;
}

.carousel-control-next,
.carousel-control-prev {
  top: 50% !important;
  width: 50px !important;
  height: 50px;
  transform: translateY(-50%);
  border-radius: 15px;
  background-color: rgba(249, 249, 249, 0.2);
}

.carousel-control-next {
  right: 20px !important;
}

.carousel-control-prev {
  left: 20px !important;
}

.carousel-item {
  position: relative;
}

.movie-title {
  position: absolute;
  top: 40px;
  left: 40px;
  font-size: 48px;
  font-weight: 800;
  color: rgba(249, 249, 249, 1);
}

.watch-list-btn,
.watch-now-btn {
  position: absolute;
  /* bottom: 21px;
  border: none;
  border-radius: 15px;
  font-weight: 800;
  font-size: 18px; */
}

/* .watch-list-btn:focus,
.watch-now-btn:focus {
  outline: none;
} */
/* .watch-list-btn {
  left: 20px;
  padding: 19px 25px;
  background-color: rgba(249, 249, 249, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  color: rgba(249, 249, 249, 1);
  display: flex;
} */
/* .watch-list-btn i {
  font-size: 21px;
}
.watch-now-btn {
  right: 20px;
  padding: 19px 47px;
  color: rgba(0, 0, 0, 1);
  background-color: rgba(248, 179, 25, 1);
} */

/* Movies section  */
.section-wrapper {
  margin-left: 68px;
  margin-top: 60px;
}
.section-wrapper h2,
.top-rated-movies h2 {
  font-weight: 800;
  font-size: 30px;
}

.movie-list {
  margin-top: 30px;
  display: flex;
  gap: 30px;
}

.movie-card-1,
.movie-card-2,
.movie-card-3 {
  width: 237px;
  height: 298px;
  border-radius: 20px;
  padding: 21px 10px 10px 21px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.movie-card-1 {
  background-image: url("/images/movies/Picture (1).svg");
}

.movie-card-2 {
  background-image: url("/images/movies/Picture.svg");
}

.movie-card-3 {
  background-image: url("/images/movies/Picture (2).svg");
}

.movie-card-1 h3,
.movie-card-2 h3,
.movie-card-3 h3 {
  font-size: 24px;
  font-weight: 800;
}

.movie-card-1 p,
.movie-card-2 p,
.movie-card-3 p {
  font-size: 18px;
  color: rgba(249, 249, 249, 0.7);
}

.movie-info div {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.add-button {
  width: 57px;
  height: 57px;
  border-radius: 15px;
  background-color: rgba(249, 249, 249, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  transition: all 0.4s ease;
}

.add-button:hover {
  background-color: rgba(183, 183, 183, 0.638);
}

.more-info-button {
  width: 150px;
  height: 57px;
  border-radius: 15px;
  background-color: rgba(248, 179, 25, 1);
  color: rgba(0, 0, 0, 1);
  font-size: 18px;
  font-weight: 800;
  transition: all 0.4s ease;
}

.more-info-button:hover {
  background-color: rgb(255, 157, 0);
}

/* top-rated-movies */

.top-rated-movies {
  margin-top: 210px;
  margin-left: 111px;
}

.top-rated-movies h2 {
  font-size: 48px;
  font-weight: 800;
}

.top-rated-movies-list {
  margin-top: 66px;
  display: flex;
  justify-content: left;
  align-items: center;
  gap: 34px;
}

.top-movie-card {
  position: relative;
  width: 295px;
  height: 580px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  cursor: pointer;
}

.top-movie-card img {
  width: 100%;
  height: 417px;
  object-fit: cover;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.imdb_rating {
  position: absolute;
  right: 0;
  top: 0;
  background-color: rgba(248, 179, 25, 1);
  width: 77px;
  height: 38px;
  display: flex;
  justify-content: center;
  color: rgba(0, 0, 0, 1);
  border-top-right-radius: 8px;
  border-bottom-left-radius: 15px;
  box-shadow: 0px 6px 9px rgba(0, 0, 0, 0.25);
  font-size: 23px;
}

.movie-details h3 {
  font-size: 24px;
  font-weight: 800;
  margin-top: 15px;
}

.movie-details p {
  font-size: 18px;
  color: #f9f9f9;
}

.movie-details p:nth-of-type(2) {
  color: #ffff;
  font-size: 14px;
  margin-top: 17px;
}

.search-list {
  position: absolute;
  z-index: 5;
  width: 305px;
  max-height: 500px;
  overflow-y: auto;
  background-color: #292929; /* Ensure background color is set */
}

.search-list .search-list-item {
  background-color: #292929;
  padding: 0.5rem;
  border-bottom: 1px solid #171717;
  cursor: pointer;
  transition: background-color 200ms ease;
}

.search-list .search-list-item:hover {
  background-color: #1f1f1f;
}
.search-list-item {
  display: flex;
  align-items: center;
}

.search-item-thumbnail img {
  width: 80px;
  margin-right: 1rem;
}

.search-item-info h3 {
  padding-top: 0.5rem;
  font-weight: 600;
  font-size: 1rem;
}

.search-item-info p {
  font-weight: 600;
  font-size: 0.8rem;
  font-size: 0.8rem;
  margin-top: 0.5rem;
  opacity: 0.9;
}

/* thumnbail */

.search-list::-webkit-scrollbar {
  width: 8px;
}

.search-list::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.search-list::-webkit-scrollbar-thumb {
  background-color: #d4aa11;
  outline: none;
  border-radius: 10px;
}

.hide-search-list {
  display: none;
}
